body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

.ant-layout, .ant-layout-sider {
  height: calc(100vh - 64px);
}

.ant-spin-container {
  height: 100vh;
}

.ant-spin-nested-loading >div>.ant-spin {
  max-height: 100vh;
}
.ant-layout-header {
  padding-inline: 0px;
}